.formModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    transition: 250ms ease-in-out;

}

.formModalActive {
    transform: translate(-50%, -50%) scale(1);
}

.card {
    background-color: white;
    /* padding: 20px 35px; */
    border-radius: 6px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding-bottom: 5px;
}

.card input {
    width: 240px;
}

.card h1 {
    margin-bottom: 17px;
}



.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.334);
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    pointer-events: none;
    transition: all 250ms linear;
}

.overlayActive {
    opacity: 1;
    pointer-events: all;
}

.formBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}

.submitBtn {
    color: rgb(26, 115, 232);
    font-size: 1rem;
}

.cancleBtn {
    color: rgb(232, 26, 26);
    font-size: 1rem;
}

.submitBtn:hover {
    background-color: rgb(26, 115, 232, 0.09);
}

.cancleBtn:hover {
    background-color: rgba(232, 26, 26, 0.09);
}

@media screen and (max-width: 720px) {
    .card {
        width: 100%;
        /* margin-left: -30px; */
    }
}

.bgDiv {
    background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3798.jpg");
    padding: 50px;
    background-size: cover;
    border-radius: 6px 6px 0px 0px;
}

.dimagediv img {
    width: 150px;
    height: 150px;
    margin-top: -50%;
    border-radius: 50%;
    object-fit: cover;
    border: solid 5px white;
}

.dimagediv {
    margin: 0px 40px;
}
h3{
    margin: 4px 0px;
}
.uname{
    text-transform: uppercase;
}
.closeBtn{
    color: red;
    font-size: 1rem;
    margin: auto;
    margin-bottom: 10px;
}
.closeBtn:hover{
   background-color: rgba(255, 140, 140, 0.186);
}
.divh{
    width: 150px;
    height: 150px;
    margin-top: -50%;
    border-radius: 50% ;
    font-size: 8rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.infoDiv{
    margin-top: 10px;
    margin-bottom: 10px;
}