*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    background-color: white;
    border-radius: 40px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 9px 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s linear;
}
 input{
    padding: 10px 8px;
    font-size: 1rem;
    background-color: rgba(205, 203, 203, 0.282);
    border: none;
    border-radius: 6px;
    transition: all 0.2s linear;
}
input:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.nocontact{
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    color: rgb(228, 3, 3);
}